name: Lint

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "postgresql://placeholder:placeholder@localhost:5432/placeholder"
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 10
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma client
        run: pnpm prisma generate
        env:
          DATABASE_URL: "postgresql://placeholder:placeholder@localhost:5432/placeholder"

      - name: Prepare Nuxt
        run: pnpm nuxi prepare

      - name: Type check
        run: pnpm run type-check

      - name: Lint
        run: pnpm run lint
